<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <title>Подключение абонента к оборудованию</title>
</head>
<body>
<div class='dashboard'>
    <div th:replace="~{fragments/menu::menu}"></div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
            <a href="#!" class="menu-toggle">
                <i class="fa fa-bars"></i></a>
            <h1 class="display-4">Абоненты</h1>
        </header>
        <div class='dashboard-content'>
            <div class="container">
                <div class="row pt3">
                    <div class="card" style="width: 80%">
                        <h5 class="card-header" th:text="'Подключение абонента - ' + ${parametersForm.customer.name} + ' - к оборудованию'"></h5>
                        <div class="card-body">
                            <form th:action="@{/customers/addDeviceToCustomer}" method="POST" th:object="${parametersForm}">
                                <input type="hidden" th:field="*{customer.customerId}" id="customerId">
                                <div class="form-group row">
                                    <label for="deviceId" class="col-sm-2 col-form-label">Устройство</label>
                                    <div class="col-sm-8">
                                        <select th:field="${parametersForm.deviceId}" id="deviceId">
                                            <option value="" selected>Выбрать устройство</option>
                                            <option th:each="device : ${allDevices}"
                                                    th:value="${device.id}" th:text="${device.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

<!--                                <div id="modelParametersTest">-->
<!--                                    <div class="form-group row" th:each="parameter : ${parametersForm.parameters.entrySet()}">-->
<!--                                        <label th:for="*{parameters['__${parameter.key}__']}" th:text="${parameter.value}">Parameter</label>-->
<!--                                        <input type="text" class="form-control" th:field="*{parameters['__${parameter.key}__']}" />-->
<!--                                    </div>-->
<!--                                </div>-->

                                <div class="form-group row" th:id="deviceInfoBlock">
                                    <div th:id="deviceInfo" class="col-sm-8">
                                        <!--                                dynamic part-->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div th:id="portSelect" class="col-sm-8">
                                        <!--                                dynamic part-->
                                    </div>
                                </div>
                                <div id="modelParameters">
                                    <!--                                dynamic part-->
                                </div>
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                <a th:href="@{'/customers/editForm/{customerId}'(customerId=*{customer.customerId})}"
                                   role="button" class="btn btn-primary">Отмена</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer::footer}">&nbsp;</div>
    </div>
</div>
<script th:inline="javascript">
    function getModelDevice(modelDeviceId) {
        //get model by modelId
        $.get({
            url: '/modelDevices/' + modelDeviceId,
            success: (modelDevice) => {
                let modelParameters = document.getElementById('modelParameters');

                for (let typeParam of modelDevice.typeTechParameters) {
                    let divParam = document.createElement('div')
                    divParam.className = "form-group row";

                    let paramLabel = document.createElement('label');
                    paramLabel.id = typeParam.id;
                    paramLabel.innerText = typeParam.name;
                    paramLabel.htmlFor = typeParam.id;
                    paramLabel.className = "col-sm-2 col-form-label";


                    let divParamInput = document.createElement('div');
                    divParamInput.className = "col-sm-8";

                    let inputParam = document.createElement('input');
                    inputParam.id = "parameters'" + typeParam.id + "'";
                    inputParam.name = "parameters['" + typeParam.id + "']";

                    divParam.appendChild(paramLabel);
                    divParamInput.appendChild(inputParam);
                    divParam.appendChild(divParamInput)
                    modelParameters.appendChild(divParam);
                }

            },
            error: (err) => {
                alert("Error");
                alert(err);
            }
        });
    }

    $(function () {
        $('#deviceId').change(function () {
            let deviceId = this.value;
            let checkSelectElement = document.getElementById('portSelect');
            let deviceInfoElement = document.getElementById('deviceInfo');
            let labelDeviceInfo = document.getElementById('labelDeviceInfo')
            if(labelDeviceInfo != null) {
                labelDeviceInfo.remove();
            }
            let labelPorts = document.getElementById('labelPorts');
            if (labelPorts != null) {
                labelPorts.remove();
            }
            deviceInfoElement.innerHTML = "";
            checkSelectElement.innerHTML = "";

            if (deviceId) {
                $.get({
                    url: '/devices/customers/' + deviceId,
                    success: (device) => {
                        let label1 = document.createElement('label');
                        label1.id = "labelDeviceInfo";
                        label1.innerText = "IP: ";
                        label1.htmlFor = "deviceInfo";
                        label1.className = "col-sm-2 col-form-label";
                        deviceInfoElement.before(label1);
                        let deviceInfo = document.createElement('div');
                        deviceInfo.innerHTML = device.ip;
                        deviceInfoElement.appendChild(deviceInfo);

                        let label = document.createElement('label');
                        label.id = "labelPorts";
                        label.innerText = "Свободные порты";
                        label.htmlFor = "portNumber";
                        label.className = "col-sm-2 col-form-label";
                        checkSelectElement.before(label);

                        let freePortsList = document.createElement('p');
                        freePortsList.name = "portNumber";
                        for (let port of device.freePorts) {
                            freePortsList.innerText += port + ", "
                        }
                        checkSelectElement.appendChild(freePortsList);

                        $('#checkSelect').append(checkSelectElement);

                        getModelDevice(device.modelId);
                    },
                    error: (err) => {
                        alert("Error");
                        alert(err);
                    }
                });
            } else {
                alert("Выберите устройство")
            }
        });
    });
</script>
</body>
</html>
