<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <title>Оборудование</title>
</head>
<body>
<div class='dashboard'>
    <div th:replace="~{fragments/menu::menu}"></div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
            <a href="#!" class="menu-toggle"><i class="fa fa-bars"></i></a>
            <h1 class="display-4">Список оборудования</h1>
        </header>
        <div class='dashboard-content'>
            <div class="container">
                <form th:action="@{/devices/search}" method="get">
                    <input type="text" name="searchKeyword" th:value="${searchKeyword}" placeholder="Фильтр"
                           size="50">
                    <button type="submit" class="btn btn-info">Фильтр</button>
                    <button type="submit" class="btn btn-info">Сброс</button>
                </form>
                <div class="row">
                    <a th:href="@{/devices/addForm}" class="btn btn-info mr-1" role="button">Добавить</a>
                </div>
                <div class="row">
                    Всего устройств:&nbsp<span class="font-weight-bold" th:text="${countDevices}"></span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"><a th:href="@{/devices(sortField='id')}">ID</a></th>
                            <th scope="col"><a th:href="@{/devices(sortField='name')}">Название</a></th>
                            <th scope="col"><a th:href="@{/devices(sortField='ip')}">IP адрес</a></th>
                            <th scope="col"><a th:href="@{/devices(sortField='model.name')}">Модель</a></th>
                            <th scope="col"><a th:href="@{/devices(sortField='model.type')}">Тип</a></th>
                            <th scope="col">Абонентов</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="device : ${devicePage}">
                            <td th:text="${device.id}"></td>
                            <td th:text="${device.name}"></td>
                            <td th:text="${device.ip.address}"></td>
                            <td th:text="${device.model.name}"></td>
                            <td th:text="${device.model.type}"></td>
                            <td th:text="${device.customers.size()}"></td>
                            <td>
                                <div class="container">
                                    <div class="row">
                                        <a th:href="@{'/devices/{deviceId}'(deviceId=${device.id})}"
                                           class="btn btn-info mr-1" role="button">Редактировать</a>
                                        <form th:action="@{'/devices/{deviceId}'(deviceId=${device.id})}"
                                              th:method="delete">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <a th:href="@{/devices/addForm}" class="btn btn-info mr-1" role="button">Добавить</a>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer::footer}">&nbsp;</div>
    </div>
</div>
</body>
</html>