<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <title>Изменение оборудования</title>
</head>
<body>
<div class='dashboard'>
    <div th:replace="~{fragments/menu::menu}"></div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
            <a href="#!" class="menu-toggle">
                <i class="fa fa-bars"></i></a>
            <h1 class="display-4">Оборудование</h1>
        </header>
        <div class='dashboard-content'>
            <div class="container">
                <div class="row pt3">
                    <div class="card" style="width: 80%">
                        <h5 class="card-header">Редактирование оборудования</h5>
                        <div class="card-body">
                            <form th:action="@{/devices/update}" th:method="PUT" th:object="${deviceDto}">
                                <input type="hidden" th:field="*{id}">
                                <div class="form-group row">
                                    <label for="modelId" class="col-sm-2 col-form-label">Модель</label>
                                    <div class="col-sm-8">
                                        <select th:field="*{modelId}" id="modelId">
                                            <option value="" selected>Выбрать модель</option>
                                            <option th:each="model : ${models}"
                                                    th:value="${model.id}" th:text="${model.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="deviceName" class="col-sm-2 col-form-label">Название</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:field="*{name}" id="deviceName">
                                        <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                                           th:errorclass="error" th:errors="*{name}"></p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="deviceDesc" class="col-sm-2 col-form-label">Описание</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:field="*{description}"
                                               id="deviceDesc">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="deviceIp" class="col-sm-2 col-form-label">IP адрес</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:name="ip" th:value="*{ip}"
                                               id="deviceIp">
                                        <p class="text-danger" th:if="${#fields.hasErrors('ip')}" th:errorclass="error"
                                           th:errors="*{ip}"></p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="deviceMac" class="col-sm-2 col-form-label">MAC адрес</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:field="*{mac}" id="deviceMac">
                                        <p class="text-danger" th:if="${#fields.hasErrors('mac')}" th:errorclass="error"
                                           th:errors="*{mac}"></p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="managePort" class="col-sm-2 col-form-label">Порт</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:field="*{managePort}"
                                               id="managePort">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="deviceLogin" class="col-sm-2 col-form-label">Логин</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:field="*{login}" id="deviceLogin">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="devicePassw" class="col-sm-2 col-form-label">Пароль</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" th:field="*{password}" id="devicePassw">
                                    </div>
                                </div>
                                <div th:if="*{customers != null && customers.size() > 0}">
                                    <div style="cursor:pointer;color:blue;text-decoration:underline;">
                                        <a onclick="return toggleMe('listOfCustomers')">Подключенные абоненты</a>
                                    </div>
                                    <div id="listOfCustomers" class="col-sm-8">
                                <span th:each="customer : *{customers}">
                                    <span th:text="${customer.name}"></span>
                                    Порт:<span th:each="techParam : ${customer.getParams()}">
                                            <span th:if="${techParam.type.name.equals('PORT')}" th:text="${techParam.value}" class="font-weight-bold"></span>
                                            </span><br>
                                </span>
                                    </div>
                                </div>
                                <p></p>
                                <h5 class="card-header">Доступные проверки</h5>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Название</th>
                                        <th scope="col">Модель</th>
                                        <th scope="col">Тип</th>
                                        <th scope="col">Параметры</th>
                                        <th scope="col">Результат</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="check : ${checks}">
                                        <td th:text="${check.checkId}"></td>
                                        <td th:text="${check.checkName}"></td>
                                        <td th:text="${check.getModelDevice().name}"></td>
                                        <td th:text="${check.checkType}"></td>
                                        <td th:text="${check.typeTechParams.isEmpty()} ? 'НЕТ' : ${check.typeTechParams}"></td>
                                        <td th:id="checkResult + ${check.checkId}"></td>
                                        <td>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-2 col-md-5">
                                                        <button id="checkButton" type="button"
                                                                class="checks btn btn-info"
                                                                th:data-info="*{id}"
                                                                th:data-target="${check.checkId}">Проверить
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p></p>
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                <a th:href="@{/devices}" role="button" class="btn btn-primary">Отмена</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer::footer}">&nbsp;</div>
    </div>
</div>
<script>
    async function fetchCheckResult(checkId, deviceId) {
        let response = await fetch("/checks/" + checkId + "/device/" + deviceId);
        if (response.ok) {
            return response.json();
        } else {
            alert("Ошибка HTTP: " + response);
        }
    }

    function waiting(element) {
        element.innerHTML = "Ждите...";
    }

    $('.checks').click(function () {
        let checkId = $(this).data('target');
        let deviceId = $(this).data('info');
        let parent = document.getElementById("checkResult" + checkId);
        waiting(parent);
        fetchCheckResult(checkId, deviceId).then(json => {
            let resultMessage = json.result;
            let div = document.createElement('div');
            div.innerText = resultMessage;
            let checkResult = document.querySelector("#checkResult" + checkId);
            parent.innerHTML = "";
            checkResult.prepend(div);
        })
    });
</script>
</body>
</html>

<script type="text/javascript">
    function toggleMe(a) {
        let e = document.getElementById(a);
        if (!e) return true;

        if (e.style.display === "none") {
            e.style.display = "block"
        } else {
            e.style.display = "none"
        }
        return true;
    }
    toggleMe('listOfCustomers');
</script>
