<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Изменение модели оборудования</title>
</head>
<body>
<div class="container">
    <h2 class="display-4">Модели</h2>
    <div class="row pt3">
        <div class="card" style="width: 80%">
            <h5 class="card-header">Изменение модели</h5>
            <div class="card-body">
                <form th:action="@{/modelDevices/update}" th:method="PUT" th:object="${modelDeviceDto}">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group row">
                        <label for="deviceType" class="col-sm-2 col-form-label">Тип</label>
                        <div class="col-sm-8">
                            <select th:field="*{type}" id="deviceType">
                                <option th:each="deviceType : ${deviceTypes}"
                                        th:value="${deviceType}" th:text="${deviceType}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="modelDeviceName" class="col-sm-2 col-form-label">Марка</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:field="*{name}" id="modelDeviceName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="manufacturer" class="col-sm-2 col-form-label">Производитель</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" th:field="*{manufacturer}" id="manufacturer">
                        </div>
                    </div>


                    <p></p>
                    <h5 class="card-header">Подключенные проверки</h5>
                    <hr>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Тип</th>
                            <th scope="col">Название</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="check : *{checks}">
                            <td th:text="${check.checkId}"></td>
                            <td th:text="${check.checkType}"></td>
                            <td th:text="${check.checkName}"></td>
                            <td>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2 col-md-5">
                                            <a th:href="@{'/checks/editForm/{checkId}'(checkId=${check.checkId})}"
                                               class="btn btn-info mr-3" role="button">Редактировать</a>
                                        </div>
                                        <div class="col-2 col-md-5">
                                            <form th:action="@{'/modelDevices/delCheckFromModel/' + *{id} + '/check/' + ${check.checkId}}"
                                                  th:method="delete">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="row">
                        <div class="col-5 col-md-5">
                            <a th:href="@{'/checks/addForm/{modelId}'(modelId=*{id})}"
                               role="button" class="btn btn-success">Добавить проверку</a>
                        </div>
                    </div>
                    <p></p>


                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a th:href="@{/modelDevices}" role="button" class="btn btn-primary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
