<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <script type="text/javascript" th:src="@{/js/menu.js}"></script>
    <title>Получение MAC адресов</title>
</head>
<body>
<div class='dashboard'>
    <div th:replace="~{fragments/menu::menu}"></div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
            <a href="#!" class="menu-toggle">
                <i class="fa fa-bars"></i></a>
            <h1 class="display-4">Сбор данных</h1>
        </header>
        <div class='dashboard-content'>
            <div class="container">
                <div class="row pt3">
                    <div class="card" style="width: 80%">
                        <h5 class="card-header">Обновление MAC-адресов из DHCP связок на Mikrotik</h5>
                        <div class="card-body">
                            <form th:action="@{/gathering/getMacByIp}" method="POST">
                                <div class="form-group row">
                                    <label for="deviceId" class="col-sm-2 col-form-label">Устройство</label>
                                    <div class="col-sm-8">
                                        <select name="deviceId" id="deviceId">
                                            <option value="" selected>Выбрать</option>
                                            <option th:each="device : ${devices}"
                                                    th:value="${device.id}" th:text="${device.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div th:id="checkSelect" class="col-sm-8">
                                        <!--                                dynamic part-->
                                    </div>
                                </div>
                                <button type="submit" class="btn gather btn-primary">Выполнить</button>
                                <a th:href="@{/gathering/getMacByIpAllCustomers}" role="button" class="btn btn-primary">Отмена</a>
                            </form>
                            <div id="gatherResult"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer::footer}">&nbsp;</div>
    </div>
</div>
<script>
    function waiting(element) {
        element.innerHTML = "Ждите...";
    }

    $('.gather').click(function () {
        let parent = document.getElementById("gatherResult");
        waiting(parent);
    });

    $(function () {
        $('#deviceId').change(function () {
            let deviceId = this.value;
            let checkSelectElement = document.getElementById('checkSelect');
            checkSelectElement.innerHTML = "";
            if (deviceId) {
                $.get({
                    url: '/devices/' + deviceId,
                    success: (checks) => {

                        let label = document.createElement('label');
                        label.innerText = "Проверка";
                        label.htmlFor = "checkId";
                        label.className = "col-sm-2 col-form-label";
                        checkSelectElement.before(label);

                        let select = document.createElement('select');
                        select.name = "checkId";

                        let startOption = document.createElement('option');
                        startOption.value = "";
                        startOption.innerHTML = "Выбрать проверку";
                        select.appendChild(startOption);

                        for (let check of checks) {
                            let option = document.createElement('option');
                            option.value = check.checkId;
                            option.innerHTML = check.checkName;
                            select.appendChild(option);
                        }
                        checkSelectElement.appendChild(select);
                        $('#checkSelect').append(checkSelectElement);
                    },
                    error: (err) => {
                        alert("Error");
                        alert(err);
                    }
                });
            } else {
                alert("Выберите устройство")
            }
        });
    });

</script>
</body>
</html>
